


h4 {
    color: greenyellow;
    margin-bottom: 0.5rem;
}

p {
    margin: 1rem 0;
}

img {
    max-width: 100%;
    /* height: auto; */
    border-radius: 0.3rem;
}




@media screen and (min-width: 768px) {
    
}