h3 {
    color: greenyellow;
    margin-top: 1rem;
}

h4 {
    margin-top: 1rem;
    text-decoration: underline;
}

h5 {
    color: greenyellow;
    margin-top: 0.5rem;
}

p {
    margin-top: 1rem;
}

.head_left p {
    margin-top: 0rem;
}

img {
    max-width: 100%;
    /* height: auto; */
    border-radius: 0.3rem;
}

ul {
    margin-top: 1rem;
}

ul li {
    padding: 0.5rem 0;
    margin-left: 1.5rem;
    list-style-type: circle;
}

ol {
    margin-top: 1rem;
}

ol li {
    padding: 0.5rem 0;
    margin-left: 1.5rem;
}

table {
      border-collapse: collapse;
      width: 100%;
      margin: 1rem 0;
      font-size: 0.8rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: var(--para_bg);
}

blockquote {
    font-style: italic; 
    border-left: 3px solid greenyellow; 
    padding: 0.5rem; 
    margin-left: 0;
    background: var(--para_color);
}



@media screen and (min-width: 768px) {
    table {
      font-size: 1rem;
}
}