header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 4rem 0 2.5rem 0;
}

header img {
    width: 16rem;
    height: 16rem;
}

header h1 {
        text-align: center;
        max-width: 33rem;
    }

header p {
    /* text-align: justify; */
    margin-top: 1.5rem;
    line-height: 1.5rem;
}



@media screen and (min-width: 768px) {

    header {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.8rem;
        align-items: center;
        /* padding: 0 1.5rem; */
        
    }

    header img {
        width: 25rem;
        height: 25rem;
        text-align: right;
        /* border-radius: 50%;
        box-shadow: var(--main_shadow); */
    }

    header h1 {
        text-align: left;
        max-width: 33rem;
    }

    header p {
        text-align: left;
        width: 33rem;
    }



}