h3 {
    color: greenyellow;
    margin-top: 1rem;
}

p {
    margin-top: 1rem;
}

ul {
    margin-top: 1rem;
}

li {
    padding: 0.5rem 0;
    margin-left: 1rem;
    list-style-type: disc;
}

.output-content {
    background-color: white;
    padding: 2rem;
}

.output-content a {
    all: unset;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5rem;
}